* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
}

input,
select {
    outline: none;
}

.subs-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url('../../images/newslatter/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    margin-top: 0;
    font-weight: 500;
    text-align: center;
}

p {
    text-align: center;
    font-weight: 500;
    font-size: large;
}

form {
    position: relative;
    width: 80%;
    border-radius: 30px;
    background: #f4f4f4;
}

.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    /* background: #5a7233; */
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}

.form-right-decoration {
    top: 60px;
    right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #f4f4f4;
}

.form-left-decoration:before {
    top: -20px;
}

.form-left-decoration:after {
    top: 20px;
    left: 10px;
}

.form-right-decoration:before {
    top: -20px;
    right: 0;
}

.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f4f4f4;
}

.form-inner {
    padding: 40px;
}

.form-inner input,
.form-inner select {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #3e4f24;
    background: #5a7233;
    font-size: 16px;
    font-weight: 400;
    color: #f4f4f4;
}

button:hover {
    background: #3e4f24;
}

.form-inner #agree {
    max-width: 10px;
    display: inline;
}

.form-inner a {
    color: #666;
}

@media (min-width: 600px) {
    form {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .subs-letter {
        font-size: 0.8em;
    }
    h1,
    p {
        font-size: small;
    }
}